<p id="notice"><%= notice %></p>

<h1>Task Sub Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_sub_categories.each do |task_sub_category| %>
      <tr>
        <td><%= task_sub_category.title %></td>
        <td><%= task_sub_category.category %></td>
        <td><%= link_to 'Show', task_sub_category %></td>
        <td><%= link_to 'Edit', edit_task_sub_category_path(task_sub_category) %></td>
        <td><%= link_to 'Destroy', task_sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Sub Category', new_task_sub_category_path %>
