<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Adress1:</strong>
  <%= @company.adress1 %>
</p>

<p>
  <strong>Adress2:</strong>
  <%= @company.adress2 %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @company.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
