<%= form_with(model: mission, local: true) do |form| %>
  <% if mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :sub_title %>
    <%= form.text_field :sub_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.date_select :finish_date %>
  </div>

  <div class="field">
    <%= form.label :deadline_date %>
    <%= form.date_select :deadline_date %>
  </div>

  <div class="field">
    <%= form.label :id_object_id %>
    <%= form.text_field :id_object_id %>
  </div>

  <div class="field">
    <%= form.label :id_user_id %>
    <%= form.text_field :id_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
