<p id="notice"><%= notice %></p>

<p>
  <strong>Adress1:</strong>
  <%= @main_object.adress1 %>
</p>

<p>
  <strong>Adress2:</strong>
  <%= @main_object.adress2 %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @main_object.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @main_object.city %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @main_object.reference %>
</p>

<p>
  <strong>Access code:</strong>
  <%= @main_object.access_code %>
</p>

<p>
  <strong>Appt number:</strong>
  <%= @main_object.appt_number %>
</p>

<p>
  <strong>Surface area:</strong>
  <%= @main_object.surface_area %>
</p>

<p>
  <strong>Object type:</strong>
  <%= @main_object.object_type %>
</p>

<p>
  <strong>Tenant or owner:</strong>
  <%= @main_object.tenant_or_owner %>
</p>

<p>
  <strong>Pro in charge:</strong>
  <%= @main_object.pro_in_charge %>
</p>

<%= link_to 'Edit', edit_main_object_path(@main_object) %> |
<%= link_to 'Back', main_objects_path %>
